<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>EmployeeRegistration</servlet-name>
  	<display-name>EmployeeRegistration</display-name>
  	<description></description>
  	<servlet-class>com.revature.controller.EmployeeRegistration</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeRegistrationServlet</servlet-name>
  	<display-name>EmployeeRegistrationServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.controller.EmployeeRegistrationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeLoginServlet</servlet-name>
  	<display-name>EmployeeLoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.controller.EmployeeLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginValidateServlet</servlet-name>
  	<display-name>LoginValidateServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.controller.LoginValidateServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeReimbursementServlet</servlet-name>
  	<display-name>EmployeeReimbursementServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.controller.EmployeeReimbursementServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewProfileServlet</servlet-name>
  	<display-name>ViewProfileServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.controller.ViewProfileServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ForgotPasswordServlet</servlet-name>
  	<display-name>ForgotPasswordServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.controller.ForgotPasswordServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeePendingServlet</servlet-name>
  	<display-name>EmployeePendingServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.controller.EmployeePendingServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PendingRequestServlet</servlet-name>
  	<display-name>PendingRequestServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.controller.PendingRequestServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ApprovedRequestService</servlet-name>
  	<display-name>ApprovedRequestService</display-name>
  	<description></description>
  	<servlet-class>com.revature.controller.ApprovedRequestService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ApprovedRequestServlet</servlet-name>
  	<display-name>ApprovedRequestServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.controller.ApprovedRequestServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateProfileServlet</servlet-name>
  	<display-name>UpdateProfileServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.controller.UpdateProfileServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateEmployeeDetailsServlet</servlet-name>
  	<display-name>UpdateEmployeeDetailsServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.controller.UpdateEmployeeDetailsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeniedRequestServlet</servlet-name>
  	<display-name>DeniedRequestServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.controller.DeniedRequestServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AllPendingRequestServlet</servlet-name>
  	<display-name>AllPendingRequestServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.controller.AllPendingRequestServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AllApprovedRequestServlet</servlet-name>
  	<display-name>AllApprovedRequestServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.controller.AllApprovedRequestServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AllDeniedRequestServlet</servlet-name>
  	<display-name>AllDeniedRequestServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.controller.AllDeniedRequestServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManagerSelectRequestServlet</servlet-name>
  	<display-name>ManagerSelectRequestServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.controller.ManagerSelectRequestServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManagerViewRequestServlet</servlet-name>
  	<display-name>ManagerViewRequestServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.controller.ManagerViewRequestServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManagerUpdateRequest</servlet-name>
  	<display-name>ManagerUpdateRequest</display-name>
  	<description></description>
  	<servlet-class>com.revature.controller.ManagerUpdateRequest</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ParticularUserRequestServlet</servlet-name>
  	<display-name>ParticularUserRequestServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.controller.ParticularUserRequestServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ParticularUserRequestDetailsServlet</servlet-name>
  	<display-name>ParticularUserRequestDetailsServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.controller.ParticularUserRequestDetailsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewAllEmployeeServlet</servlet-name>
  	<display-name>ViewAllEmployeeServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.controller.ViewAllEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>EmployeeRegistration</servlet-name>
  	<url-pattern>/EmployeeRegistration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeRegistrationServlet</servlet-name>
  	<url-pattern>/EmployeeRegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeLoginServlet</servlet-name>
  	<url-pattern>/EmployeeLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginValidateServlet</servlet-name>
  	<url-pattern>/LoginValidateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeReimbursementServlet</servlet-name>
  	<url-pattern>/EmployeeReimbursementServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewProfileServlet</servlet-name>
  	<url-pattern>/ViewProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ForgotPasswordServlet</servlet-name>
  	<url-pattern>/ForgotPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeePendingServlet</servlet-name>
  	<url-pattern>/EmployeePendingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PendingRequestServlet</servlet-name>
  	<url-pattern>/PendingRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ApprovedRequestService</servlet-name>
  	<url-pattern>/ApprovedRequestService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ApprovedRequestServlet</servlet-name>
  	<url-pattern>/ApprovedRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateProfileServlet</servlet-name>
  	<url-pattern>/UpdateProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateEmployeeDetailsServlet</servlet-name>
  	<url-pattern>/UpdateEmployeeDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeniedRequestServlet</servlet-name>
  	<url-pattern>/DeniedRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AllPendingRequestServlet</servlet-name>
  	<url-pattern>/AllPendingRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AllApprovedRequestServlet</servlet-name>
  	<url-pattern>/AllApprovedRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AllDeniedRequestServlet</servlet-name>
  	<url-pattern>/AllDeniedRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManagerSelectRequestServlet</servlet-name>
  	<url-pattern>/ManagerSelectRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManagerViewRequestServlet</servlet-name>
  	<url-pattern>/ManagerViewRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManagerUpdateRequest</servlet-name>
  	<url-pattern>/ManagerUpdateRequest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ParticularUserRequestServlet</servlet-name>
  	<url-pattern>/ParticularUserRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ParticularUserRequestDetailsServlet</servlet-name>
  	<url-pattern>/ParticularUserRequestDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewAllEmployeeServlet</servlet-name>
  	<url-pattern>/ViewAllEmployeeServlet</url-pattern>
  </servlet-mapping>
</web-app>
